body {
  font-family: "Montserrat";
}

#title {
  background: #FF4C68;
  color: #FFF;
}
#cta{
  background: #FF4C68;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900px;
  padding:70px 50px 100px;
  text-align: center;
}
.cta-txt{
  font-size: 3rem;
  padding-bottom: 30px;
  margin:0 20% 0 20%;
}

#check {
  color: #ef8172;
}

#bullseye {
  color: #ef8172;
}

#heart {
  color: #ef8172;
}

#features {
  padding: 7% 15%;
  background-color: #FFF;
  position:relative;
  z-index:1;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900px;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* nav bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* download buttons */
.download {
  margin: 5% 3% 5% 0;
}

/* title image */
.img {
  width: 21%;
  height:70%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.fa-solid {
  margin-bottom: 1rem;
}

.awsm:hover {
  color: #ff4c68;
}
.download2{
  margin-left: 10px;
  margin-right: 5px;
}

a:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimony-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}
@media (max-width:1028px)
{
  .img{
    position:static;
    transform: rotate(0);
    width:70%;
    height:70%;
  }
  #title{
    text-align:center;
  }

}
#footer{
  padding: 7% 15% 2%;
  text-align:center;

}
.fa-brands{
  padding:10px;
}
.env{
  padding:10px;
}
